﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DotnetEFCore.DataContext.RequestEntity

@{
    ViewData["Title"] = "Request - Edit Data";
}

<h2>Form Edit Request</h2>
<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="AssetId">Asset ID</label>
        <input asp-for="AssetId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PICName">PIC Name</label>
        <input asp-for="PICName" class="form-control" />
    </div>
    <div class="form-group custom-control custom-checkbox">
        <label asp-for="SpecificationReq">Specification Request</label>
        <textarea asp-for="SpecificationReq" class="form-control"></textarea>
    </div>
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
        <button asp-action="List" class="btn btn-sm btn-success">Back</button>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}