﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DotnetEFCore.DataContext.AuditEntity

@{
    ViewData["Title"] = "Audit Add Data";
}

<h2>Form Submit Audit</h2>

<form asp-controller="Audit" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="PICName">PIC Name</label>
        <input asp-for="PICName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AssetId">Asset ID</label>
        <input asp-for="AssetId" class="form-control" />
    </div>
    <div class="form-group custom-control custom-checkbox">
        <input asp-for="AntiVirus" type="checkbox" class="custom-control-input" id="customCheck1">
        <label asp-for="AntiVirus" class="custom-control-label" for="customCheck1">Check this if Antivirus is installed.</label>
    </div>
    <div class="form-group custom-control custom-checkbox">
        <input asp-for="OfficeLicense" type="checkbox" class="custom-control-input" id="customCheck1">
        <label asp-for="OfficeLicense" class="custom-control-label" for="customCheck1">Check this if Office is licensed.</label>
    </div>
    <div class="form-group custom-control custom-checkbox">
        <input asp-for="WindowsLicense" type="checkbox" class="custom-control-input" id="customCheck1">
        <label asp-for="WindowsLicense" class="custom-control-label" for="customCheck1">Check this if Windows is licensed.</label>
    </div>
    <div class="form-group">
        <label asp-for="AssetCondition">Asset Condition</label>
        <textarea asp-for="AssetCondition" class="form-control"></textarea>
    </div>
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
