﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DotnetEFCore.DataContext.AssetEntity

@{
    ViewData["Title"] = "Asset View Data";
}

<h2>Form Add Asset</h2>

<form asp-controller="Asset" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PurchaseYear">Purchase Year</label>
        <input asp-for="PurchaseYear" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SerialNumber">Serial Number</label>
        <input asp-for="SerialNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Specification">Specification</label>
        <textarea asp-for="Specification" class="form-control"></textarea>
    </div>
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
