﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model DotnetEFCore.DataContext.AssetEntity

@{
    ViewData["Title"] = "Asset Detail";
}

<h2>Asset Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Purchase Year</th>
            <td>@Model.PurchaseYear</td>
        </tr>
        <tr>
            <th>Serial Number</th>
            <td>@Model.SerialNumber</td>
        </tr>
        <tr>
            <th>Specification</th>
            <td>@Model.Specification</td>
        </tr>
    </tbody>
</table>
<a asp-action="List" class="btn btn-sm btn-success">Back</a>
