﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model DotnetEFCore.DataContext.AssetEntity

@{
    ViewData["Title"] = "Asset - Edit Data";
}

<h2>Form Edit Asset</h2>
<form asp-controller="Asset" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PurchaseYear">Purchase Year</label>
        <input asp-for="PurchaseYear" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SerialNumber">Serial Number</label>
        <input asp-for="SerialNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Specification">Specification</label>
        <textarea asp-for="Specification" class="form-control"></textarea>
    </div>
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
        <button asp-action="List" class="btn btn-sm btn-success">Back</button>
    </div>
    
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}