﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model DotnetEFCore.DataContext.TalentEntity

@{
    ViewData["Title"] = "Talent - Edit Data";
}

<h2>Form Edit Talent</h2>
<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Education">Education</label>
        <select asp-for="Education" class="form-select">
            <option selected>Select Education</option>
            <option value="SMA">SMA</option>
            <option value="SMK">SMK</option>
            <option value="MA">MA</option>
            <option value="D3">D3</option>
            <option value="S1">S1</option>
            <option value="S2">S2</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="PlaceOfBirth">Place of Birth</label>
        <input asp-for="PlaceOfBirth" class="form-control" />
    </div>
    <div class="input-group.date">
        <label asp-for="DateOfBirth">Date of Birth</label>
        <input asp-for="DateOfBirth" class="form-control" />
    </div>
    
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
        <button asp-action="List" class="btn btn-sm btn-success">Back</button>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}