﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DotnetEFCore.DataContext.ReturnAssetEntity
@{
    ViewData["Title"] = "Return Asset Detail";
}

<h2>Return Asset Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Asset ID</th>
            <td>@Model.AssetId</td>
        </tr>
        <tr>
            <th>PIC Name</th>
            <td>@Model.PICName</td>
        </tr>
        <tr>
            <th>Return Date</th>
            <td>@Model.ReturnDate</td>
        </tr>

    </tbody>
</table>
<a asp-action="List" class="btn btn-sm btn-success">Back</a>
